<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">GuestBook Register Page</h1>

        <form action="" th:action="@{/guestbook/register}" method="post">
            <div class="form-group">
                <label>title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label>content</label>
                <textarea class="form-control" name="content" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label>writer</label>
                <input type="text" class="form-control" name="writer" placeholder="Enter Writer">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </th:block>

</th:block>